---
interface Props {
	products?: string[];
}

const { products = [] } = Astro.props;
---

{products && products.length > 0 && (
	<div class="product-pills">
		{products.map((product) => (
			<span class="pill">{product}</span>
		))}
	</div>
)}

<style>
	.product-pills {
		display: flex;
		gap: 0.5rem;
		flex-wrap: wrap;
		margin: 0.5rem 0;
	}
	
	.pill {
		padding: 0.25rem 0.5rem;
		background: var(--sl-color-gray-6);
		border-radius: 0.25rem;
		font-size: 0.875rem;
	}
</style>
